In [1]:
import pandas

In [3]:
url = "/Users/tereza/Czechitas Pandas/adopce-zvirat.csv"
adopce_zvirat = pandas.read_csv(url)
adopce_zvirat

        id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce
0    7;"Šváb syčivý";"Madagascar giant cockroach ";...
1    8;"Pakobylka okřídlená";"Pink-winged stick ins...
2                    16;"Tayra";"Tayra";"Savci";5000;1
3    35;"Kajmanka supí";"Alligator snapping turtle"...
4    37;"Želva žlutočelá";"Indochinese box turtle";...
..                                                 ...
508  1417;"Rosnice šalamounská";" ";"Obojživelníci"...
509   1418;"Létavka obecná";" ";"Obojživelníci";1000;1
510              1419;"Bažant paví";" ";"Ptáci";1000;1
511      1420;"Sojkovec rezavouchý";" ";"Ptáci";1000;1
512       1421;"Kachnice kaštanová";" ";"Ptáci";1000;1

[513 rows x 1 columns]

In [7]:
adopce_zvirat.shape

(513, 1)

In [8]:
adopce_zvirat.columns

Index(['id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce'], dtype='object')

In [10]:
adopce_zvirat.iloc[[35]]

       id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce
35  100;"Ibis skalní";"Northern bald ibis";"Ptáci"...